<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <nav>
    <%= image_tag("images.jpg", :size => "75x75",:alt => "image_not_loading",id:"logoimg") %>
          <%= link_to "Event Schedular", '#', id: "logo" %>
      <ul class="nav pull-right">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "sign up", new_user_path %></li>
      </ul>
    </nav>
  </div>
</header>
     <br><br><br><br>
<div class="center hero-unit">
  <h1>Welcome to the Events Schedular</h1>
  <h2>
    This is the home page for the
    <a href="">Events Schedular</a>
  </h2>
</div>

<br><br><br><br>